# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Local database
composerhub.db

# Uploaded files
uploads/

# Flask sessions
flask_session/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Environment variables / secrets
.env